address=/.firebase.google.com/{{ ansible_default_ipv4['address'] }}
address=/.claude.ai/{{ ansible_default_ipv4['address'] }}
address=/.pastebin.com/{{ ansible_default_ipv4['address'] }}
address=/.notion.so/{{ ansible_default_ipv4['address'] }}
address=/.fonts.googleapis.com/{{ ansible_default_ipv4['address'] }}
address=/.gns3.com/{{ ansible_default_ipv4['address'] }}
address=/.ign.com/{{ ansible_default_ipv4['address'] }}
address=/.cdn.oaistatic.com/{{ ansible_default_ipv4['address'] }}
address=/.firebaseremoteconfig.googleapis.com/{{ ansible_default_ipv4['address'] }}
address=/.oracle.com/{{ ansible_default_ipv4['address'] }}
address=/.repo.mysql.com/{{ ansible_default_ipv4['address'] }}
address=/.cisco.com/{{ ansible_default_ipv4['address'] }}
address=/.oraclecloud.com/{{ ansible_default_ipv4['address'] }}
address=/.googletagmanager.com/{{ ansible_default_ipv4['address'] }}
address=/.visa.com/{{ ansible_default_ipv4['address'] }}
address=/.golang.org/{{ ansible_default_ipv4['address'] }}
address=/.digitalocean.com/{{ ansible_default_ipv4['address'] }}
address=/.pagure.io/{{ ansible_default_ipv4['address'] }}
address=/.chatgpt.com/{{ ansible_default_ipv4['address'] }}
address=/.openai.com/{{ ansible_default_ipv4['address'] }}
address=/.redhat.com/{{ ansible_default_ipv4['address'] }}
address=/.access.redhat.com/{{ ansible_default_ipv4['address'] }}
address=/.pkgs.org/{{ ansible_default_ipv4['address'] }}
address=/.ai.google.com/{{ ansible_default_ipv4['address'] }}
address=/.gemini.google.com/{{ ansible_default_ipv4['address'] }}
address=/.fedoraproject.org/{{ ansible_default_ipv4['address'] }}
address=/.fodev.org/{{ ansible_default_ipv4['address'] }}
address=/.android.com/{{ ansible_default_ipv4['address'] }}
address=/.amp.dev/{{ ansible_default_ipv4['address'] }}
address=/.teamtreehouse.com/{{ ansible_default_ipv4['address'] }}
address=/.upwork.com/{{ ansible_default_ipv4['address'] }}
address=/.bluemix.net/{{ ansible_default_ipv4['address'] }}
address=/.swift.org/{{ ansible_default_ipv4['address'] }}
address=/.fbsbx.com/{{ ansible_default_ipv4['address'] }}
address=/.googletagservices.com/{{ ansible_default_ipv4['address'] }}
address=/.overleaf.com/{{ ansible_default_ipv4['address'] }}
address=/.jenkins.org/{{ ansible_default_ipv4['address'] }}
address=/.rubygems.org/{{ ansible_default_ipv4['address'] }}
address=/.ruby-doc.org/{{ ansible_default_ipv4['address'] }}
address=/.sstatic.net/{{ ansible_default_ipv4['address'] }}
address=/.kaggleusercontent.com/{{ ansible_default_ipv4['address'] }}
address=/.arcgis.com/{{ ansible_default_ipv4['address'] }}
address=/.eslint.org/{{ ansible_default_ipv4['address'] }}
address=/.google-analytics.com/{{ ansible_default_ipv4['address'] }}
address=/.proandroiddev.com/{{ ansible_default_ipv4['address'] }}
address=/.superuser.com/{{ ansible_default_ipv4['address'] }}
address=/.parsely.com/{{ ansible_default_ipv4['address'] }}
address=/.lightstep.com/{{ ansible_default_ipv4['address'] }}
address=/.optimizely.com/{{ ansible_default_ipv4['address'] }}
address=/.google-analytics.com/{{ ansible_default_ipv4['address'] }}
address=/.branch.io/{{ ansible_default_ipv4['address'] }}
address=/.serverfault.com/{{ ansible_default_ipv4['address'] }}
address=/.stackexchange.com/{{ ansible_default_ipv4['address'] }}
address=/.stackoverflow.com/{{ ansible_default_ipv4['address'] }}
address=/.vuejs.org/{{ ansible_default_ipv4['address'] }}
address=/.reactjs.org/{{ ansible_default_ipv4['address'] }}
address=/.adservice.google.com/{{ ansible_default_ipv4['address'] }}
address=/.jhipster.tech/{{ ansible_default_ipv4['address'] }}
address=/.algolia.net/{{ ansible_default_ipv4['address'] }}
address=/.adobelogin.com/{{ ansible_default_ipv4['address'] }}
address=/.adobe.com/{{ ansible_default_ipv4['address'] }}
address=/.symfony.com/{{ ansible_default_ipv4['address'] }}
address=/.classroom.google.com/{{ ansible_default_ipv4['address'] }}
address=/.csb.app/{{ ansible_default_ipv4['address'] }}
address=/.paypal.com/{{ ansible_default_ipv4['address'] }}
address=/.web.dev/{{ ansible_default_ipv4['address'] }}
address=/.c9.io/{{ ansible_default_ipv4['address'] }}
address=/.codecov.io/{{ ansible_default_ipv4['address'] }}
address=/.coursehero.com/{{ ansible_default_ipv4['address'] }}
address=/.githubapp.com/{{ ansible_default_ipv4['address'] }}
address=/.expressjs.com/{{ ansible_default_ipv4['address'] }}
address=/.twilio/{{ ansible_default_ipv4['address'] }}
address=/.codex.cs.yale.edu/{{ ansible_default_ipv4['address'] }}
address=/.edx.org/{{ ansible_default_ipv4['address'] }}
address=/.php.net/{{ ansible_default_ipv4['address'] }}
address=/.mybridge.co/{{ ansible_default_ipv4['address'] }}
address=/.githubusercontent.com/{{ ansible_default_ipv4['address'] }}
address=/.slack.com/{{ ansible_default_ipv4['address'] }}
address=/.play.google.com/{{ ansible_default_ipv4['address'] }}
address=/.algolia.com/{{ ansible_default_ipv4['address'] }}
address=/.algolianet/{{ ansible_default_ipv4['address'] }}
address=/.developer.google.com/{{ ansible_default_ipv4['address'] }}
address=/.photodune.net/{{ ansible_default_ipv4['address'] }}
address=/.videohive.net/{{ ansible_default_ipv4['address'] }}
address=/.laravel.com/{{ ansible_default_ipv4['address'] }}
address=/.salesforce.com/{{ ansible_default_ipv4['address'] }}
address=/.expo.io/{{ ansible_default_ipv4['address'] }}
address=/.clients.google.com/{{ ansible_default_ipv4['address'] }}
address=/.telerik.com/{{ ansible_default_ipv4['address'] }}
address=/.audio/{{ ansible_default_ipv4['address'] }}
address=/.jungle.net/{{ ansible_default_ipv4['address'] }}
address=/.3docean.net/{{ ansible_default_ipv4['address'] }}
address=/.sparkjava.com/{{ ansible_default_ipv4['address'] }}
address=/.zeit.co/{{ ansible_default_ipv4['address'] }}
address=/.graphicriver.net/{{ ansible_default_ipv4['address'] }}
address=/.mit.edu/{{ ansible_default_ipv4['address'] }}
address=/.tinyjpg.com/{{ ansible_default_ipv4['address'] }}
address=/.goanimate.com/{{ ansible_default_ipv4['address'] }}
address=/.hackerrank.com/{{ ansible_default_ipv4['address'] }}
address=/.gitlab.com/{{ ansible_default_ipv4['address'] }}
address=/.gitpod.io/{{ ansible_default_ipv4['address'] }}
address=/.atlassian.com/{{ ansible_default_ipv4['address'] }}
address=/.spiceworks.com/{{ ansible_default_ipv4['address'] }}
address=/.bugsnag.com/{{ ansible_default_ipv4['address'] }}
address=/.sentry.io/{{ ansible_default_ipv4['address'] }}
address=/.clients6.google.com/{{ ansible_default_ipv4['address'] }}
address=/.incredibuild.com/{{ ansible_default_ipv4['address'] }}
address=/.epicgames.com/{{ ansible_default_ipv4['address'] }}
address=/.enterprisedb.com/{{ ansible_default_ipv4['address'] }}
address=/.packagist.org/{{ ansible_default_ipv4['address'] }}
address=/.jenkov.com/{{ ansible_default_ipv4['address'] }}
address=/.bintray.com/{{ ansible_default_ipv4['address'] }}
address=/.edgesuite.net/{{ ansible_default_ipv4['address'] }}
address=/.marketingplantform.google.com/{{ ansible_default_ipv4['address'] }}
address=/.gopkg.in/{{ ansible_default_ipv4['address'] }}
address=/.labix.org/{{ ansible_default_ipv4['address'] }}
address=/.withgoogle.com/{{ ansible_default_ipv4['address'] }}
address=/.accounts.google.com/{{ ansible_default_ipv4['address'] }}
address=/.coinbase.com/{{ ansible_default_ipv4['address'] }}
address=/.schema.org/{{ ansible_default_ipv4['address'] }}
address=/.invisio/{{ ansible_default_ipv4['address'] }}
address=/.bitbucket.org/{{ ansible_default_ipv4['address'] }}
address=/.softonic.com/{{ ansible_default_ipv4['address'] }}
address=/.developers.google.com/{{ ansible_default_ipv4['address'] }}
address=/.nativescript.org/{{ ansible_default_ipv4['address'] }}
address=/.kaggle.com/{{ ansible_default_ipv4['address'] }}
address=/.ads.google.com/{{ ansible_default_ipv4['address'] }}
address=/.domains.google.com/{{ ansible_default_ipv4['address'] }}
address=/.tensorflow.org/{{ ansible_default_ipv4['address'] }}
address=/.apple.com/{{ ansible_default_ipv4['address'] }}
address=/.aws.amazon.com/{{ ansible_default_ipv4['address'] }}
address=/.dl.google.com/{{ ansible_default_ipv4['address'] }}
address=/.rapid7.com/{{ ansible_default_ipv4['address'] }}
address=/.pscdn.co/{{ ansible_default_ipv4['address'] }}
address=/.appengine.google.com/{{ ansible_default_ipv4['address'] }}
address=/.baeldung.com/{{ ansible_default_ipv4['address'] }}
address=/.envato-static.com/{{ ansible_default_ipv4['address'] }}
address=/.newrelic.com/{{ ansible_default_ipv4['address'] }}
address=/.google.ai/{{ ansible_default_ipv4['address'] }}
address=/.dartlang.org/{{ ansible_default_ipv4['address'] }}
address=/.gitlab.io/{{ ansible_default_ipv4['address'] }}
address=/.flutter.io/{{ ansible_default_ipv4['address'] }}
address=/.ai.google/{{ ansible_default_ipv4['address'] }}
address=/.doubleclickbygoogle.com/{{ ansible_default_ipv4['address'] }}
address=/.doubleclick.net/{{ ansible_default_ipv4['address'] }}
address=/.gstatic.com/{{ ansible_default_ipv4['address'] }}
address=/.jwplayer.com/{{ ansible_default_ipv4['address'] }}
address=/.caddyserver.com/{{ ansible_default_ipv4['address'] }}
address=/.caddy.com/{{ ansible_default_ipv4['address'] }}
address=/.googleadservices.com/{{ ansible_default_ipv4['address'] }}
address=/.googletagmanager.com/{{ ansible_default_ipv4['address'] }}
address=/.androidstudio/{{ ansible_default_ipv4['address'] }}
address=/.googleblog.com/{{ ansible_default_ipv4['address'] }}
address=/.geforce.com/{{ ansible_default_ipv4['address'] }}
address=/.socket.io/{{ ansible_default_ipv4['address'] }}
address=/.google-analytics.com/{{ ansible_default_ipv4['address'] }}
address=/.googleusercontent.com/{{ ansible_default_ipv4['address'] }}
address=/.en25.com/{{ ansible_default_ipv4['address'] }}
address=/.tinypng.com/{{ ansible_default_ipv4['address'] }}
address=/.fsdn.com/{{ ansible_default_ipv4['address'] }}
address=/.algolianet/{{ ansible_default_ipv4['address'] }}
address=/.algolia.net/{{ ansible_default_ipv4['address'] }}
address=/.justpaste.it/{{ ansible_default_ipv4['address'] }}
address=/.demandbase.com/{{ ansible_default_ipv4['address'] }}
address=/.appspot.com/{{ ansible_default_ipv4['address'] }}
address=/.element14.com/{{ ansible_default_ipv4['address'] }}
address=/.unity3d.com/{{ ansible_default_ipv4['address'] }}
address=/.sourceforg/{{ ansible_default_ipv4['address'] }}
address=/.unity.com/{{ ansible_default_ipv4['address'] }}
address=/.myfonts.net/{{ ansible_default_ipv4['address'] }}
address=/.jaspersoft.com/{{ ansible_default_ipv4['address'] }}
address=/.design.google.com/{{ ansible_default_ipv4['address'] }}
address=/.stripe.com/{{ ansible_default_ipv4['address'] }}
address=/.python.org/{{ ansible_default_ipv4['address'] }}
address=/.pypi.org/{{ ansible_default_ipv4['address'] }}
address=/.gravatar.com/{{ ansible_default_ipv4['address'] }}
address=/.cloud.google.com/{{ ansible_default_ipv4['address'] }}
address=/.analytics.google.com/{{ ansible_default_ipv4['address'] }}
address=/.optimize.google.com/{{ ansible_default_ipv4['address'] }}
address=/.tagmanager.google.com/{{ ansible_default_ipv4['address'] }}
address=/.fiber.google.com/{{ ansible_default_ipv4['address'] }}
address=/.dl-ssl.google.com/{{ ansible_default_ipv4['address'] }}
address=/.dns.google.com/{{ ansible_default_ipv4['address'] }}
address=/.firebase.google.com/{{ ansible_default_ipv4['address'] }}
address=/.firebase.com/{{ ansible_default_ipv4['address'] }}
address=/.googleapis.com/{{ ansible_default_ipv4['address'] }}
address=/.jetbrains.com/{{ ansible_default_ipv4['address'] }}
address=/.seleniumhq.org/{{ ansible_default_ipv4['address'] }}
address=/.invis.io/{{ ansible_default_ipv4['address'] }}
address=/.i18next.com/{{ ansible_default_ipv4['address'] }}
address=/.java.com/{{ ansible_default_ipv4['address'] }}
address=/.vuforia.com/{{ ansible_default_ipv4['address'] }}
address=/.cocalc.com/{{ ansible_default_ipv4['address'] }}
address=/.gradle.org/{{ ansible_default_ipv4['address'] }}
address=/.fabric.io/{{ ansible_default_ipv4['address'] }}
address=/.apis.google.com/{{ ansible_default_ipv4['address'] }}
address=/.godoc.org/{{ ansible_default_ipv4['address'] }}
address=/.paypalobjects.com/{{ ansible_default_ipv4['address'] }}
address=/.count.ly/{{ ansible_default_ipv4['address'] }}
address=/.khanacademy.org/{{ ansible_default_ipv4['address'] }}
address=/.oracle.com/{{ ansible_default_ipv4['address'] }}
address=/.crashlytics.com/{{ ansible_default_ipv4['address'] }}
address=/.origin.com/{{ ansible_default_ipv4['address'] }}
address=/.explainshell.com/{{ ansible_default_ipv4['address'] }}
address=/.packtpub.com/{{ ansible_default_ipv4['address'] }}
address=/.traviscistatus.com/{{ ansible_default_ipv4['address'] }}
address=/.golang.org/{{ ansible_default_ipv4['address'] }}
address=/.storage.googleapis.com/{{ ansible_default_ipv4['address'] }}
address=/.flutterlearn.com/{{ ansible_default_ipv4['address'] }}
address=/.spring.io/{{ ansible_default_ipv4['address'] }}
address=/.themeforest.net/{{ ansible_default_ipv4['address'] }}
address=/.flurry.com/{{ ansible_default_ipv4['address'] }}
address=/.softlayer.com/{{ ansible_default_ipv4['address'] }}
address=/.mailgun.com/{{ ansible_default_ipv4['address'] }}
address=/.bootstrapcdn.com/{{ ansible_default_ipv4['address'] }}
address=/.download.virtualbox.org/{{ ansible_default_ipv4['address'] }}
address=/.sun.com/{{ ansible_default_ipv4['address'] }}
address=/.books.google.com/{{ ansible_default_ipv4['address'] }}
address=/.mysql.com/{{ ansible_default_ipv4['address'] }}
address=/.unrealengine.com/{{ ansible_default_ipv4['address'] }}
address=/.mongodb.org/{{ ansible_default_ipv4['address'] }}
address=/.mongodb.com/{{ ansible_default_ipv4['address'] }}
address=/.swaggerhub.com/{{ ansible_default_ipv4['address'] }}
address=/.envato.com/{{ ansible_default_ipv4['address'] }}
address=/.adobe.com/{{ ansible_default_ipv4['address'] }}
address=/.apps.admob.com/{{ ansible_default_ipv4['address'] }}
address=/.grafana.com/{{ ansible_default_ipv4['address'] }}
address=/.cp.maxcdn.com/{{ ansible_default_ipv4['address'] }}
address=/.codecanyon.net/{{ ansible_default_ipv4['address'] }}
address=/.piles.overleaf.com/{{ ansible_default_ipv4['address'] }}
address=/.amd.com/{{ ansible_default_ipv4['address'] }}
address=/.payments.google.com/{{ ansible_default_ipv4['address'] }}
address=/.ibm.com/{{ ansible_default_ipv4['address'] }}
address=/.jenkins-ci.org/{{ ansible_default_ipv4['address'] }}
address=/.mbed.com/{{ ansible_default_ipv4['address'] }}
address=/.ti.com/{{ ansible_default_ipv4['address'] }}
address=/.net/{{ ansible_default_ipv4['address'] }}
address=/.beans.org/{{ ansible_default_ipv4['address'] }}
address=/.vmware.com/{{ ansible_default_ipv4['address'] }}
address=/.toggl.com/{{ ansible_default_ipv4['address'] }}
address=/.docker.com/{{ ansible_default_ipv4['address'] }}
address=/.docker.io/{{ ansible_default_ipv4['address'] }}
address=/.gcr.io/{{ ansible_default_ipv4['address'] }}
address=/.datacamp.com/{{ ansible_default_ipv4['address'] }}
address=/.googlesource.com/{{ ansible_default_ipv4['address'] }}
address=/.polymer-project.org/{{ ansible_default_ipv4['address'] }}
address=/.udemy.com/{{ ansible_default_ipv4['address'] }}
address=/.udemycdn.com/{{ ansible_default_ipv4['address'] }}
address=/.udemycdn-a.com/{{ ansible_default_ipv4['address'] }}
address=/.material.io/{{ ansible_default_ipv4['address'] }}
address=/.teamviewer.com/{{ ansible_default_ipv4['address'] }}
address=/.intel.com/{{ ansible_default_ipv4['address'] }}
address=/.developer.chrome.com/{{ ansible_default_ipv4['address'] }}
address=/.jfrog.org/{{ ansible_default_ipv4['address'] }}
address=/.sonatype.org/{{ ansible_default_ipv4['address'] }}
address=/.maven.org/{{ ansible_default_ipv4['address'] }}
address=/.jitpack.io/{{ ansible_default_ipv4['address'] }}
address=/.maven.google.com/{{ ansible_default_ipv4['address'] }}
address=/.nvidia.com/{{ ansible_default_ipv4['address'] }}
address=/.rstudio/{{ ansible_default_ipv4['address'] }}
address=/.sendgrid.com/{{ ansible_default_ipv4['address'] }}
address=/.kubernet/{{ ansible_default_ipv4['address'] }}
address=/.es.io/{{ ansible_default_ipv4['address'] }}
address=/.issuetracker.google.com/{{ ansible_default_ipv4['address'] }}
address=/.virtualbox.org/{{ ansible_default_ipv4['address'] }}
address=/.atlassian.net/{{ ansible_default_ipv4['address'] }}
address=/.archive.ubuntu.com/{{ ansible_default_ipv4['address'] }}
address=/.b4x.com/{{ ansible_default_ipv4['address'] }}
address=/.launchpad.net/{{ ansible_default_ipv4['address'] }}
address=/.medium.com/{{ ansible_default_ipv4['address'] }}
address=/.code.google.com/{{ ansible_default_ipv4['address'] }}
address=/.realm.io/{{ ansible_default_ipv4['address'] }}
address=/.maas.io/{{ ansible_default_ipv4['address'] }}
address=/.docs.datastax.com/{{ ansible_default_ipv4['address'] }}
address=/.splunk.com/{{ ansible_default_ipv4['address'] }}
address=/.gitlab-static.net/{{ ansible_default_ipv4['address'] }}
address=/.livefyre.com/{{ ansible_default_ipv4['address'] }}
address=/.slack-edge.com/{{ ansible_default_ipv4['address'] }}
address=/.cloudera.com/{{ ansible_default_ipv4['address'] }}
address=/.apache.org/{{ ansible_default_ipv4['address'] }}
address=/.vagrantup.com/{{ ansible_default_ipv4['address'] }}
address=/.metasploit.com/{{ ansible_default_ipv4['address'] }}
address=/.openvpn.net/{{ ansible_default_ipv4['address'] }}
address=/.coursera.org/{{ ansible_default_ipv4['address'] }}
address=/.nodejs.org/{{ ansible_default_ipv4['address'] }}
address=/.npmjs.org/{{ ansible_default_ipv4['address'] }}
address=/.pypi.org/{{ ansible_default_ipv4['address'] }}
address=/.dell.com/{{ ansible_default_ipv4['address'] }}
address=/.gallery.io/{{ ansible_default_ipv4['address'] }}
address=/.mathworks.com/{{ ansible_default_ipv4['address'] }}
address=/.lenovo.com/{{ ansible_default_ipv4['address'] }}
address=/.jitsi.org/{{ ansible_default_ipv4['address'] }}
address=/.anydesk.com/{{ ansible_default_ipv4['address'] }}
address=/.ant.design/{{ ansible_default_ipv4['address'] }}
address=/.centos.org/{{ ansible_default_ipv4['address'] }}
address=/.quay.io/{{ ansible_default_ipv4['address'] }}
address=/.firewalla.com/{{ ansible_default_ipv4['address'] }}
address=/.shopify.com/{{ ansible_default_ipv4['address'] }}
address=/.bitvise.com/{{ ansible_default_ipv4['address'] }}
address=/.nextjs.org/{{ ansible_default_ipv4['address'] }}
address=/.ni.com/{{ ansible_default_ipv4['address'] }}
address=/.graphql.org/{{ ansible_default_ipv4['address'] }}
address=/.altera.com/{{ ansible_default_ipv4['address'] }}
address=/.chocolatey.org/{{ ansible_default_ipv4['address'] }}
address=/.microchip.com/{{ ansible_default_ipv4['address'] }}
address=/.codesandbox.io/{{ ansible_default_ipv4['address'] }}
address=/.spotify.com/{{ ansible_default_ipv4['address'] }}
address=/.scdn.co/{{ ansible_default_ipv4['address'] }}
address=/.godbolt.org/{{ ansible_default_ipv4['address'] }}
address=/.zoom.us/{{ ansible_default_ipv4['address'] }}
address=/.freecodecamp.org/{{ ansible_default_ipv4['address'] }}
address=/.libraries.io/{{ ansible_default_ipv4['address'] }}
address=/.githubassets.com/{{ ansible_default_ipv4['address'] }}
address=/.i.stack.imgur.com/{{ ansible_default_ipv4['address'] }}
address=/.bitsrc.io/{{ ansible_default_ipv4['address'] }}
address=/.hyper.is/{{ ansible_default_ipv4['address'] }}
address=/.serialport.io/{{ ansible_default_ipv4['address'] }}
address=/.curd.io/{{ ansible_default_ipv4['address'] }}
address=/.gitpod.io/{{ ansible_default_ipv4['address'] }}
address=/.wikia.com/{{ ansible_default_ipv4['address'] }}
address=/.fluttercrashcourse.com/{{ ansible_default_ipv4['address'] }}
address=/.developer.samsung.com/{{ ansible_default_ipv4['address'] }}
address=/.clients2.google.com/{{ ansible_default_ipv4['address'] }}
address=/.business.google.com/{{ ansible_default_ipv4['address'] }}
address=/.grabcad.com/{{ ansible_default_ipv4['address'] }}
address=/.vmcdn.com/{{ ansible_default_ipv4['address'] }}
address=/.nirsoft.net/{{ ansible_default_ipv4['address'] }}
address=/.digikey.com/{{ ansible_default_ipv4['address'] }}
address=/.download.01.org/{{ ansible_default_ipv4['address'] }}
address=/.packagesource.com/{{ ansible_default_ipv4['address'] }}
address=/.bootswatch.com/{{ ansible_default_ipv4['address'] }}
address=/.getbootstrap.com/{{ ansible_default_ipv4['address'] }}
address=/.events.google.com/{{ ansible_default_ipv4['address'] }}
address=/.unsplash.com/{{ ansible_default_ipv4['address'] }}
address=/.coursera-apps.org/{{ ansible_default_ipv4['address'] }}
address=/.coursera.com/{{ ansible_default_ipv4['address'] }}
address=/.javacardos.com/{{ ansible_default_ipv4['address'] }}
address=/.getcaddy.com/{{ ansible_default_ipv4['address'] }}
address=/.caddyserver.com/{{ ansible_default_ipv4['address'] }}
address=/.bit.dev/{{ ansible_default_ipv4['address'] }}
address=/.clamav.net/{{ ansible_default_ipv4['address'] }}
address=/.qt.io/{{ ansible_default_ipv4['address'] }}
address=/.forums.cpanel.net/{{ ansible_default_ipv4['address'] }}
address=/.nginx.com/{{ ansible_default_ipv4['address'] }}
address=/.surveys.google.com/{{ ansible_default_ipv4['address'] }}
address=/.jfrog.io/{{ ansible_default_ipv4['address'] }}
address=/.csb.app/{{ ansible_default_ipv4['address'] }}
address=/.yarnpkg.com/{{ ansible_default_ipv4['address'] }}
address=/.kaggle.net/{{ ansible_default_ipv4['address'] }}
address=/.battlecode.org/{{ ansible_default_ipv4['address'] }}
address=/.cljdoc.org/{{ ansible_default_ipv4['address'] }}
address=/.vuetifyjs.com/{{ ansible_default_ipv4['address'] }}
address=/.wpastra.com/{{ ansible_default_ipv4['address'] }}
address=/.flutter.dev/{{ ansible_default_ipv4['address'] }}
address=/.zeplin.io/{{ ansible_default_ipv4['address'] }}
address=/.microsoft.com/{{ ansible_default_ipv4['address'] }}
address=/.ansible.com/{{ ansible_default_ipv4['address'] }}
address=/.fedorapeople.org/{{ ansible_default_ipv4['address'] }}
address=/.ghcr.io/{{ ansible_default_ipv4['address'] }}
address=/.pkg.dev/{{ ansible_default_ipv4['address'] }}
address=/.alpinelinux.org/{{ ansible_default_ipv4['address'] }}
address=/.mirrors.rockylinux.org/{{ ansible_default_ipv4['address'] }}
address=/.rit.edu/{{ ansible_default_ipv4['address'] }}
address=/.cicku.me/{{ ansible_default_ipv4['address'] }}
address=/.paessler.com/{{ ansible_default_ipv4['address'] }}
#
address=/.bacula.org/{{ ansible_default_ipv4['address'] }}
address=/.cloudfront.net/{{ ansible_default_ipv4['address'] }}
address=/.coollabs.io/{{ ansible_default_ipv4['address'] }}
address=/.opendev.org/{{ ansible_default_ipv4['address'] }}
address=/.elastic.co/{{ ansible_default_ipv4['address'] }}
address=/.getcomposer.org/{{ ansible_default_ipv4['address'] }}
address=/.zerodaylab.cloud/{{ ansible_default_ipv4['address'] }}
address=/hashicorp.com/{{ ansible_default_ipv4['address'] }}
address=/dckr.io/{{ ansible_default_ipv4['address'] }}
address=/hub.docker.com/{{ ansible_default_ipv4['address'] }}
address=/.k8s.io/{{ ansible_default_ipv4['address'] }}
address=/gitlab.com/{{ ansible_default_ipv4['address'] }}
address=/.terraform.io/{{ ansible_default_ipv4['address'] }}
address=/.kubernetes.io/{{ ansible_default_ipv4['address'] }}

###
#address=/.github.com/{{ ansible_default_ipv4['address'] }}



